:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
  height: 100%;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  margin: 2rem;
  padding: 2rem;
}

/* login */

.login__message {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin: 2rem 0;
}

.login__button {
  background-color: #090979;
  border-radius: 8px;
  padding: 1.25rem;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  border: 1px solid #edf2f9;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  align-self: flex-start;
  width: 12rem;
  text-align: center;
}

.login__button:hover {
  opacity: 0.8;
}

/* success template */
.success__container {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  margin: 2rem;
  padding: 2rem;
}

.success__message {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin: 2rem 0;
}

.success__bucket-available {
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin: 2rem 0;
}

.success__button {
  background-color: #090979;
  border-radius: 8px;
  padding: 1.25rem;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  border: 1px solid #edf2f9;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  align-self: flex-start;
  width: 17rem;
  text-align: center;
}
