doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title creative annotater google ads service
  link(type='text/css' href='./styles/style.css' rel='stylesheet')
  script(id='data' type="application/json").
    !{props}
#root
script(defer src='bundle.js')
